
<h3>Tickets</h3>
<%= form_tag tickets_path, {method: :get} do %>
    <h3>Filter: </h3>

    <%= label_tag :project %>
    <%= select_tag :project, options_from_collection_for_select(
    Project.all,
    'id',
    'name'), include_blank: 'All' %>

    <%= label_tag :status %>
    <%= select_tag :status, options_for_select(['new', 'blocked', 'in_progress', 'fixed']), include_blank: 'All' %>

    <%= submit_tag 'Filter' %>
  <% end %>
<% if tickets.empty? %>
  <p>No tickets available</p>
<% else %>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Body</th>
        <th>Assignee</th>
        <th>Tags</th>
        <% if logged_in? %>
          <th colspan="2"></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% tickets.each do |ticket| %>
        <tr>
          <td><%= link_to ticket.name, ticket_path(ticket) %></td>
          <td><%= ticket.status %></td>
          <td><%= ticket.body %></td>
          <td><%= User.find_by(id: ticket.assignee).name %></td>
          <td><%= ticket.tags.map { |t| t.name }.join(', ') %></td>
          <% if logged_in? %>
            <td>
              <%= link_to "Edit", edit_ticket_path(ticket) %>
            </td>
            <td>
              <%= link_to "Delete", ticket_path(ticket), method: :delete %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
