<%= render 'shared/content_title', title: 'Main index', user: current_user %>

<%= link_to "Projects", projects_path %>
<%= link_to "Tickets", tickets_path %>
<%= link_to "Tags", tags_path %>

<h3>Projects</h3>

<%= render 'projects/project', projects: @projects %>



<% if logged_in? %>
  <br>
  <%= link_to "Create Project", new_project_path %>
  <br>
  <%= link_to "Create Ticket", new_ticket_path if Project.any? %>
  <br>
  <%= link_to "Log out", logout_path %>
<% else %>
  <%= link_to "New User", new_user_path %>
  <%= link_to "Log in", login_path %>
<% end %>
