<!DOCTYPE html>
<html>
  <head>
    <title>TicketingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Ticketing App</h1>
    <% if flash.any? %>
      <div class="flash">
        <% flash.each do |type, message| %>
          <%= message %>
        <% end %>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>
